{% extends "base.html" %}
{% block content %}
<style>
    .fixed-width {
        width: 25%;
    }
</style>
<div class="main-container container bg-light rounded shadow-lg p-4">
    <h1 class="text-center display-3">Workout Viewer</h1>
    <hr>
    <div class="row">
        <h1 class="bold">{{workout.name}}</h1>
        <p><b>Notes:</b> {{workout.notes}}</p>
        <div>
        {% for exercise in exercises %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center">{{exercise.name}}</h5>
                    <hr>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="fixed-width">Sets</th>
                                <th scope="col" class="fixed-width">Reps</th>
                                <th scope="col" class="fixed-width">Weight</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fs-5">{{ exercise.sets }}</td>
                                <td class="fs-5">{{ exercise.reps }}</td>
                                <td class="fs-5">{{ exercise.weight }}</td>
                                <td class="fs-5">{{ exercise.notes }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between mb-1">
                        <div class="btn btn-outline-primary justify-content-center w-100 details" data-bs-toggle="collapse" href="#collapse{{exercise.id}}" role="button" aria-expanded="false" aria-controls="collapse{{exercise.id}}" id="{{exercise.id}}">
                            More Details
                        </div>
                        <div class="ms-1">
                            <form method="post" action="{% url 'delete_exercise_in_workout' exercise.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger delete"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="collapse" id="collapse{{exercise.id}}">
                        <hr>
                        <div class="row">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" class="fixed-width">Type</th>
                                        <th scope="col" class="fixed-width">Muscle</th>
                                        <th scope="col" class="fixed-width">Equipment</th>
                                        <th scope="col" class="fixed-width">Difficulty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="fs-5">{{ exercise.type }}</td>
                                        <td class="fs-5">{{ exercise.muscle}}</td>
                                        <td class="fs-5">{{ exercise.equipment }}</td>
                                        <td class="fs-5">{{ exercise.difficulty  }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <p><b>Instructions: </b>{{ exercise.instructions }}</p>
                        </div>
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/{{exercise.youtube.id}}" title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>    
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}