{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Workout Name</th>
                <th scope="col">Notes</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a {{ workout.name }}</td>
                    <td>{{ workout.notes }}</td>
                    <td></td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <form method="post" action="{% url 'view_workout' forloop.counter %}" class="d-inline-block me-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">View</button>
                            </form>
                            <form method="post" action="{% url 'delete_workout' workout.id %}" class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<a href="{% url 'create_workout' %}" class="btn btn-success"><i class="fas fa-plus"></i> Create Workout</a>
</div>
{% endblock content %}