{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Workout Form
{% endblock %}

{% block content %}
<style>
    /* remove required red outline */
    label.required::after {
        content: "";
    }
</style>
<div class="container"> 
    <h1 class="display-4">Workout Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="my-3">
            <a href="{% url 'workouts' %}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Go Back</a>
            <button type="reset" class="btn btn-warning"><i class="fas fa-redo-alt"></i> Reset</button>
            <button type="submit" name="action" value="save" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            <button type="submit" name="action" value="auto-generate" id="auto-generate-btn" class="btn btn-success">Auto Generate</button>
        </div>
    </form>
</div>

{% endblock %}