{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create a Workout
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">Create a Workout</h1>
    <form method="post" action="{% url 'create_workout' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="my-3">
            <a href="{% url 'workouts' %}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Go Back</a>
            <button type="reset" class="btn btn-warning"><i class="fas fa-redo-alt"></i> Reset</button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </div>

    </form>
</div>
{% endblock %}