{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container main-container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1 class="display-4 text-center mt-5">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="Login" class="btn btn-primary">Submit</button>
            </form>
            <a class="btn btn-outline-danger mt-4" href="{% url 'register' %}">Register</a>
            <a class="btn btn-outline-primary mt-4" href="{% url 'home' %}">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}