{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container main-container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1 class="display-4 text-center mt-5">Change Password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>   
            {% if error %}
                <div class="alert alert-danger mt-4" role="alert">
                    <strong>{{error}}</strong>
                </div>
            {% endif %}
            <a class="btn btn-outline-primary mt-4" href="{% url 'profile' %}">Back to Profile</a>
        </div>
    </div>
</div>
{% endblock %}