{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    {% with current_page=request.resolver_match.url_name %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container">
          <a class="navbar-brand" href="#">FitGPT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'exercises' %}active{% endif %}" href="{% url 'exercises' %}">Exercises</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Account</a>
              </li>
            </ul>
          </div>
          <div class="float-right">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-primary" href="{% url 'profile' %}">Profile</a>
                <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-outline-primary" href="{% url 'home' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endwith %}

    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
