<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/019cfea9d3.js" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h1 class="display-2 m-0">{{ error }}</h1>
                    <img class="img-fluid w-25" src="{% static 'images/error.png' %}" alt="404" />
                    <h2>Page not found</h2>
                    <a class="btn btn-outline-primary mt-2" href="{% url 'home' %}"><i class="fas fa-arrow-left"></i> Go to Home</a>
                </div>
            </div>
    </body>
</html>