{% extends "base.html" %}
{% load static %}


{% block title %}
FitForge
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="col-md-4 text-center text-md-start align-self-center order-md-first">
            <h1 class="display-1 text-decoration-underline">FitForge</h1>
            <p class="lead">The Fitness Application for<br>Health Enthusiasts with 'Time Under Tension'</p>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'profile' %}"><i class="fas fa-user"></i> View your profile!</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'login' %}"><i class="fas fa-running"></i> Get Started NOW!</a>
        {% endif %}
        
        </div>
        <div class="col-md-8 d-flex justify-content-center order-first">
            <img src="{% static 'images/undraw_fitness_stats.svg' %}" class="img-fluid" alt="Health Enthusiast with Time Under Tension">
        </div>
    </div>
    <div class="row pt-2 pb-5">
        <div class="col-4 text-center align-self-center">
            <h1>{{ user_count }}</h1>
            <p>Users Using FitForge</p>
        </div>
        <div class="col-4 text-center align-self-center">
            <h1>6+</h1>
            <p>Filterable Exercise Types</p>
        </div>
        <div class="col-4 text-center align-self-center">
            <h1>15+</h1>
            <p>Filterable Muscle Groups</p>
        </div>
    </div>
</div>
{% endblock content %}