{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load workouts_extras %}

{% block title %}
Exercises
{% endblock title %}

{% block scripts %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script src="{% static 'js/exercises.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.exercise-row').click(function() {
            // Toggle the next element which is the hidden details
            $(this).next('.exercise-details').toggle();
        });
        


        $('#exercises-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "read_exercises" %}',
                data: {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    muscle: $('input[name=muscle]:checked').val(),
                    type: $('input[name=type]:checked').val(),
                    difficulty: $('input[name=difficulty]:checked').val(),
                    // Add other form data as needed
                },
                success: function(data) {
                    updateExercisesTable(data.exercises);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            })
        });

        $('#workout-selector').on('change', (event) => {
            $.ajax({
                type: 'POST',
                url: '{% url "read_workout" %}',
                data: {
                    'csrfmiddlewaretoken': window.CSRF_TOKEN,
                    'workout_id': event.target.value
                },
                success: function(data) {
                    $('#exercises').empty();
                    for (let exercise of data.exercises) {
                        $('#exercises').append(
                            `<div class='border text-center lead bg-white rounded p-1 my-1'>
                                ${exercise.name}
                            </div>`
                        )
                    }
                }
            })
        });
    });

    function updateExercisesTable(exercises) {
        var tableBody = $('#exercises-table tbody');
        tableBody.empty(); // Clear current table body
        $.each(exercises, function(i, exercise) {
            const row = $('<tr></tr>');
            row.append($('<td></td>').text(exercise.name));
            row.append($('<td></td>').text(exercise.muscle));
            row.append($('<td></td>').text(exercise.type));
            row.append($('<td></td>').text(exercise.equipment));
            row.append($('<td></td>').text(exercise.difficulty));
            tableBody.append(row);
        });
    }
</script>
{% endblock scripts %}

{% block content %}
<div class="container-fluid"> 
    <h2>Search for Exercises</h2>
    <div class="row">
        <div class="col-md-10">
        <div class="border rounded shadow mb-5">
            <div class="p-4">

                <form id="exercises-form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4 mx-3">
                            <h5 class="text-center border-bottom">Muscle</h5>
                            <div class="row pt-3">
                                {% for muscle in muscles %}
                                    <div class="form-check col-12 col-xl-4">
                                        <input class="form-check-input" type="radio" id="{{ muscle }}" name="muscle" value="{{ muscle }}">
                                        <label class="form-check-label" for="{{ muscle }}">{{ muscle | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-6 mx-3">
                            <h5 class="text-center border-bottom">Type</h5>
                            <div class="row pt-3">
                                {% for type in types %}
                                    <div class="form-check col-12 col-xl-4">
                                        <input class="form-check-input" type="radio" id="{{ type }}" name="type" value="{{ type }}">
                                        <label class="form-check-label" for="{{ type }}">{{ type | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-1 mx-3">
                            <h5 class="text-center border-bottom">Difficulty</h5>
                            <div class="row pt-3">
                                {% for difficulty in difficulties %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="{{ difficulty }}" name="difficulty" value="{{ difficulty }}">
                                        <label class="form-check-label" for="{{ difficulty }}">{{ difficulty | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="exercise_form" class="btn btn-primary" id="submit-form">Submit</button>
                </form>

            </div>
        </div>

        <div class="border rounded shadow mb-5">
    {% comment %} 
            <div class="p-4">
                <div class="accordion" id="accordionExample">
                    {% for exercise in exercises %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                                <div class="row">
                                    <div class="col">
                                        {{ exercise.name | title }}
                                    </div>
                                    <div class="col">
                                        {{ exercise.type | title }}
                                    </div>
                                    <div class="col">
                                        {{ exercise.muscle | title | spacify:"_" }}
                                    </div>
                                    <div class="col">
                                        <div class="{% if exercise.difficulty == 'beginner' %}
                                            bg-success
                                        {% elif exercise.difficulty == 'intermediate' %}
                                            bg-warning
                                        {% else %}
                                            bg-danger
                                        {% endif %} text-white p-1 rounded-3">
                                            <p class="text-center">
                                                {{ exercise.difficulty | title | spacify:"_" }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ exercise.equipment | title | spacify:"_" }}
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Instructions: </strong> {{ exercise.instructions }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endcomment %}

            <div class="p-4">
                <table class="table table-hover" id="exercises-table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Muscle</th>
                            <th scope="col">Type</th>
                            <th scope="col">Equipment</th>
                            <th scope="col">Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="bg-light border shadow rounded px-2 py-3">
            <h2 class="text-center">Workout</h2>
            <select id="workout-selector" class="form-select" aria-label="Workout Select">
                <option selected disabled>Select a workout</option>
                {% for workout in workout_list %}
                    <option value="{{ workout.id }}">{{ workout.name }}</option>
                {% endfor %}
            </select>
            <div id="workout-exercises">
                <div class="mb-5">
                    <div class="p-4">
                        <h5 class="text-center border-bottom">Exercises</h5>
                        <div class="row">
                            <div class="col-12" id="exercises">
                                <p class="text-center">No exercises selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
