{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load workouts_extras %}

{% block title %}
Exercises
{% endblock title %}

{% block scripts %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script src="{% static 'js/exercises.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.exercise-row').click(function() {
            // Toggle the next element which is the hidden details
            $(this).next('.exercise-details').toggle();
        });
        

        $('#exercises-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "read_exercises" %}',
                data: {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    muscle: $('input[name=muscle]:checked').val(),
                    type: $('input[name=type]:checked').val(),
                    difficulty: $('input[name=difficulty]:checked').val(),
                    // Add other form data as needed
                },
                success: function(data) {
                    updateExercisesTable(data.exercises);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            })
        });

        // When selecting which workout to add to
        $('#workout-selector').on('change', (event) => {
            readExercisesInWorkout();
        });

        // When submitting the form to add an exercise to a workout
        $('#add-exercise-to-workout').click(function() {
            console.log("adding exercise to workout");

            const workout_id = $('#workout-selector').val();
            const sets = $('#sets').val();
            const reps = $('#reps').val();
            const weight = $('#weight').val();
            const notes = $('#notes').val();

            $.ajax({
                type: 'POST',
                url: '{% url "add_exercise" %}',
                data: {
                    'csrfmiddlewaretoken': window.CSRF_TOKEN,
                    'exercise_name': selectedExercise.name,
                    'exercise_type': selectedExercise.type,
                    'exercise_muscle': selectedExercise.muscle,
                    'exercise_equipment': selectedExercise.equipment,
                    'exercise_difficulty': selectedExercise.difficulty,
                    'exercise_instructions': selectedExercise.instructions,
                    'sets': $('#sets').val(),
                    'reps': $('#reps').val(),
                    'weight': $('#weight').val(),
                    'notes': $('#notes').val(),
                    'workout_id': workout_id
                },
                success: function(data) {
                    readExercisesInWorkout();
                }
            })
        });
    });
    
    // When clicking on any add button in each row of the exercises table
    $(document).on('click', '.add-exercise', function() {
        selectedExercise = $(this).data('exercise');
    });

    function readExercisesInWorkout(){
        $.ajax({
            type: 'POST',
            url: '{% url "read_workout" %}',
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN,
                'workout_id': $('#workout-selector').val()
            },
            success: function(data) {
                const workout = data.workout;
                $('#exercises-in-workout').empty();
                for (let exercise of workout.exercises) {
                    $('#exercises-in-workout').append(
                        `<div class='border text-center lead bg-white rounded p-1 my-1 fs-6'>
                            ${exercise.name}
                        </div>`
                    )
                }
            }
        });
    }

    function updateExercisesTable(exercises) {
        var tableBody = $('#exercises-table tbody');
        tableBody.empty(); // Clear current table body
        $.each(exercises, function(i, exercise) {
            const row = $('<tr></tr>');
            row.append($('<td id="exercise-name"></td>').text(exercise.name));
            row.append($('<td id="exercise-muscle"></td>').text(exercise.muscle));
            row.append($('<td id="exercise-type"></td>').text(exercise.type));
            row.append($('<td></td>').text(exercise.equipment));
            row.append($('<td></td>').text(exercise.difficulty));
            const addButton = $('<button class="btn btn-primary add-exercise" data-bs-toggle="modal" data-bs-target="#exerciseModal">Add</button>');
            addButton.data('exercise', exercise); // Attach the entire exercise object
            row.append($('<td></td>').append(addButton));
            tableBody.append(row);
        });
    }
</script>
{% endblock scripts %}

{% block content %}

<!-- Add exercise modal -->
<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exerciseModalLabel">Add Exercise</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Exercise Name</h5>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="mb-3 text-center lead">
                            <label for="sets" class="form-label">Sets</label>
                            <input type="number" class="form-control" id="sets" placeholder="0" min="0" value="3">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 text-center lead">
                            <label for="reps" class="form-label">Reps</label>
                            <input type="number" class="form-control" id="reps" placeholder="0" min="0" value="10">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 text-center lead">
                            <label for="weight" class="form-label">Weight</label>
                            <input type="number" class="form-control" id="weight" placeholder="0" min="0" value="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3 lead">
                            <label for="notes" class="form-label">Notes</label>
                            <textarea type="text" class="form-control" id="notes" rows="3" placeholder="Enter your notes here..."></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="add-exercise-to-workout" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add to Workout</button>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid main-container">
    <h2>Search for Exercises</h2>
    <div class="row">
        <div class="col-md-10">
        <div class="border rounded shadow mb-5">
            <div class="p-4">

                <form id="exercises-form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4 mx-3">
                            <h5 class="text-center border-bottom">Muscle</h5>
                            <div class="row pt-3">
                                {% for muscle in muscles %}
                                    <div class="form-check col-12 col-xl-4">
                                        <input class="form-check-input" type="radio" id="{{ muscle }}" name="muscle" value="{{ muscle }}">
                                        <label class="form-check-label" for="{{ muscle }}">{{ muscle | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-6 mx-3">
                            <h5 class="text-center border-bottom">Type</h5>
                            <div class="row pt-3">
                                {% for type in types %}
                                    <div class="form-check col-12 col-xl-4">
                                        <input class="form-check-input" type="radio" id="{{ type }}" name="type" value="{{ type }}">
                                        <label class="form-check-label" for="{{ type }}">{{ type | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-1 mx-3">
                            <h5 class="text-center border-bottom">Difficulty</h5>
                            <div class="row pt-3">
                                {% for difficulty in difficulties %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="{{ difficulty }}" name="difficulty" value="{{ difficulty }}">
                                        <label class="form-check-label" for="{{ difficulty }}">{{ difficulty | title | spacify:"_" }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="exercise_form" class="btn btn-primary" id="submit-form">Submit</button>
                </form>

            </div>
        </div>

        <div class="border rounded shadow mb-5">
            <div class="p-4">
                <table class="table table-hover" id="exercises-table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Muscle</th>
                            <th scope="col">Type</th>
                            <th scope="col">Equipment</th>
                            <th scope="col">Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="bg-light border shadow rounded px-2 py-3 sticky-top">
            <h2 class="text-center">Workout</h2>
            <select id="workout-selector" class="form-select" aria-label="Workout Select">
                <option selected disabled>Select a workout</option>
                {% for workout in workout_list %}
                    <option value="{{ workout.id }}">{{ workout.name }}</option>
                {% endfor %}
            </select>
            <div id="workout-exercises">
                <div class="mb-5">
                    <div class="p-4">
                        <h5 class="text-center border-bottom">Exercises</h5>
                        <div class="row">
                            <div class="col-12" id="exercises-in-workout">
                                <p class="text-center">No exercises selected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
